{{#if product}}
<form action="/admin/products/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
{{else}}
<form action="/admin/products" method="POST" enctype="multipart/form-data">
{{/if}}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{product.name}}" required>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" name="price" id="price" placeholder="Enter price" value="{{product.price}}">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{product.description}}</textarea>
  </div>

  <button type="submit" class="btn text-white">Submit</button>
  <button type="button" class="btn">
  {{#if product}}
  <a class="text-white" href="/admin/products/{{product.id}}">back</a>
  {{else}}
  <a class="text-white" href="/admin/products">back</a>
  {{/if}}
  </button>
</form>