<div class="row justify-content-center">
  <img class="img-responsive center-block" src="{{product.image}}" style="width: 250px;margin-bottom: 25px;">
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h1>{{product.id}}. {{product.name}}</h1>
    <h2>${{product.price}}</h2>
  </div>

  <div class="col-md-12 d-flex justify-content-center">
    <p>{{product.description}}</p>
  </div>
  <div class="col-md-2 d-flex justify-content-between">
    <form action="/cart" method="POST">
      <input type="hidden" name="productId" value="{{product.id}}">
      <button type="submit" class="text-white btn btn-sm btn-outline-secondary">Add to Cart</button>
    </form>
    <button class="btn btn-sm"  type="button">
      <a class="text-white" href="/products">products page</a>
    </button>
  </div>
</div>